@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: url('/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.green-box {
  box-shadow: 1px 1px 10px 1px;
}